<navbar></navbar>
<div class="container pt-100 mb-5">
    <div *ngIf="orderSent" class="m-2 text-center">
        <h2>Done</h2>
        <button class="btn btn-primary" routerLink="/shop">Alısverıs</button>
    </div>
    <form *ngIf="!orderSent" #form = "ngForm" (ngSubmit)="submitOrder(form)" class="m-4">
        
        <div class="form-group">
                <label>Name</label>
                <input class="form-control" #name [(ngModel)]="order.name" required>
        </div>
        <div class="form-group">
                <label>Adress</label>
                <input class="form-control" #address = "ngModel" [(ngModel)]="order.address" required>
        </div>
        <div class="form-group">
                <label>City</label>
                <input class="form-control" #city = "ngModel" [(ngModel)]="order.city" required>
        </div>
        <div class="form-group">
                <label>Telefon</label>
                <input class="form-control" #phone = "ngModel"e [(ngModel)]="order.phone" required>
        </div>
        <div class="form-group">
                <label>Mail</label>
                <input class="form-control"  #email = "ngModel" [(ngModel)]="order.email" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Tamamla</button>
            <button routerLink = "/shop" class="btn btn-primary m1-2">Devam Et</button>
        </div>
    </form>
</div>