<div class="container-fluid">
    <div class="row">
        <div class="bg-primary p-2 text-white">
            Admin Panel
        </div>
    </div>
    <div class="row">
        <div class="col-3 mt-2">
            <button routerLink = "/shop" class="btn btn-outline-info btn-block">Shop</button>
            <!-- <button routerLinkActive="active" routerLink = "shop" class="btn btn-outline-info btn-block">Products</button> -->
            <button routerLinkActive="active" routerLink = "/admin/main/categories" class="btn btn-outline-info btn-block">Categories</button>
            <button routerLinkActive="active" routerLink = "/admin/main/orders" class="btn btn-outline-info btn-block">Orders</button>
            <button class="btn btn-outline-danger btn-block" (click)="logout()"></button>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>